



<div class="container text-center bg-color text-light text-weight rounded-3 my-5">
    <div class="row  " >
      <div class="col my-4 ">
        <p class="font-weight-bold">Increment/Decrement Buttons</p>
      <button type="button" class="btn btn-outline-light" (click)="countFunc('minus')"> Minus  </button>
    
      <span class="px-4 ">{{counter}}</span>
    
      <button type="button" class="btn btn-outline-light"  (click)="countFunc('plus')"> Plus  </button>
      <br>
      <br>
      
      <button type="button" class="btn btn-outline-light"  (click)="countFunc('reset')"> Reset  </button>
    </div>
    
    </div>
    
    
    </div>